@import "mixins";
.contenedor {
	@include normalGrid;
	.divIndex {
		@include divs;
		img {
			@include sizes(auto, 100%);
		}
	}
	.texto {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		p {
			font-size: 13px;
			margin: 0;
		}
	}
}

.divIndex:hover {
	border: 1px solid black;
}
.titulo {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-bottom: 20px;
	color: white;
}
.subTitulo {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 15px;
	color: black;
}
.contenedorLogos {
	display: grid;
	grid-template-columns: repeat(6, 100px);
	justify-content: center;
	min-height: 27.1vh;
}
@media screen and (max-width: 1000px) {
	.container-fluid {
		padding: 0px;
	}
	.contenedor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		.divIndex {
			display: flex;
			justify-content: center;
			min-height: 420px;
			max-height: 420px;
			img {
				height: auto;
				width: 100%;
			}
			p {
				text-align: center;
			}
		}
	}

	.contenedorLogos {
		display: grid;
		grid-template-columns: repeat(2, 100px);
		justify-content: center;
		column-gap: 5px;
		row-gap: 5px;
		align-items: center;
	}
}
@media screen and (max-width: 220px) {
	.contenedorLogos {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 425px) {
	.contenedor {
		display: flex;
		flex-direction: column;
	}
}
