@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,800;1,400&display=swap");
@import "variables";
@import "mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
header {
  min-width: 100vw;
  padding: 0, 5rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    width: 100px;
    cursor: pointer;
    margin-right: auto;
  }

  .navitem {
    margin: 0 0 0 1.5rem;

    .nav-link {
      text-decoration: none;
      color: white;
      transition: all 0.3s ease 0s;
      &:hover {
        color: map-get($colores, azul);
      }
    }
  }
}

.contacto_link {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
  &:hover {
    color: map-get($colores, azul);
  }
}

li {
  color: white;
}
/* HEADER */
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  min-height: 79.7vh;
  margin: 0;
  padding: 0;
  img {
    display: flex;
    @include sizes(auto, 70%);
    margin: 0;
    padding: 0;
  }

  .zapas {
    display: flex;
    width: auto;
    height: $altura * 2;
    margin: 0;
    padding: 0;

    img {
      @include sizes(auto, 70%);
      margin: 0;
      padding: 0;
    }
  }
}

/*hombre*/
.parent {
  @include grids;
}

.image_hombre {
  display: flex;
  width: auto;
  height: 400px;
}
.image_hombre img {
  height: auto;
  width: 100%;
}

/*    forms  */
.formulario {
  padding: 10px 100px;
  min-height: 68vh;
  padding: 0;
}
.boton_enviar {
  background-color: map-get($colores, azul);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.boton_borrar {
  @extend .boton_enviar;
  background-color: map-get($colores, rojo);
}
.logo_footer {
  color: black;
}
/*  MEDIA QUERIES */

@media screen and (max-width: 800px) {
  header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0;

    .contacto_link {
      display: inline;
    }
    .boton_contacto {
      display: none;
    }
    .navitem {
      margin: 0;
      padding: 0;
    }
  }
  .container-fluid {
    padding: 0px;
  }
  .navitem {
    margin: 0;
    padding: 0;
  }
  .boton_contacto {
    display: none;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      img {
        height: auto;
        width: 70%;
      }
    }
    .zapas {
      img {
        height: 33%;
        width: auto;
      }
    }
  }
  .parent {
    display: flex;
    flex-direction: column;
    img {
      height: 350px;
      width: auto;
    }
  }
  .container {
    div {
      justify-content: center;
      align-items: center;
      img {
        align-self: center;
        width: 370px;
        height: auto;
      }
    }
  }
  fieldset {
    margin: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 990px) {
  .boton_contacto {
    display: none;
  }
}
