@import "variables";
@import "mixins";
@import "hombre";
@import "contacto";
@import "header";
@import "inicio";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
