.colores--rojo {
	background-color: rgb(158, 25, 25);
}

.colores--azul {
	background-color: #057e9c;
}

.colores--verde {
	background-color: green;
}

.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
}

.image_hombre {
	display: flex;
	width: auto;
	height: 400px;
}

.image_hombre img {
	height: auto;
	width: 100%;
}

@media screen and (max-width: 800px) {
	.container-fluid {
		padding: 0px;
	}
	.parent {
		display: flex;
		flex-direction: column;
	}
	.parent .image_hombre {
		height: auto;
		width: 70%;
	}
	.parent .image_hombre img {
		height: auto;
		width: 100%;
	}
}
@media screen and (max-width: 1400px) {
	.parent {
		grid-template-columns: repeat(2, 1fr);
	}
	.fondo {
		display: none;
	}
}
.colores--rojo {
	background-color: rgb(158, 25, 25);
}

.colores--azul {
	background-color: #057e9c;
}

.colores--verde {
	background-color: green;
}

.formulario {
	min-height: 68vh;
}

.boton_enviar,
.boton_borrar {
	background-color: #057e9c;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 2px;
	cursor: pointer;
	border-radius: 16px;
}

.boton_borrar {
	background-color: rgb(158, 25, 25);
}

@media screen and (max-width: 800px) {
	.container div {
		justify-content: center;
		align-items: center;
	}
}
.colores--rojo {
	background-color: rgb(158, 25, 25);
}

.colores--azul {
	background-color: #057e9c;
}

.colores--verde {
	background-color: green;
}

header {
	min-width: 100vw;
	padding: 0, 5rem 0;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}
header .logo {
	width: 100px;
	cursor: pointer;
	margin-right: auto;
}
header .navitem {
	margin: 0 0 0 1.5rem;
}
header .navitem .nav-link {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
}
header .navitem .nav-link:hover {
	color: #057e9c;
}

.contacto_link {
	display: none;
}

.nav-link {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
}
.nav-link:hover {
	color: #057e9c;
}

li {
	color: white;
}

@media screen and (max-width: 1000px) {
	header {
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1;
		padding: 0;
	}
	header .contacto_link {
		display: inline;
	}
	header .boton_contacto {
		display: none;
	}
	header .navitem {
		margin: 0;
		padding: 0;
	}
	.container-fluid {
		padding: 0px;
	}
	.navitem {
		margin: 0;
		padding: 0;
	}
	.boton_contacto {
		display: none;
	}
}
@media screen and (max-width: 990px) {
	.boton_contacto {
		display: none;
	}
	.contacto_link {
		display: inline;
	}
}
.contenedor {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
}
.contenedor .divIndex {
	width: 70%;
	display: flex;
	flex-direction: column;
	min-height: 320px;
	max-height: 320px;
}
.contenedor .divIndex img {
	height: auto;
	width: 100%;
}
.contenedor .texto {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.contenedor .texto p {
	font-size: 13px;
	margin: 0;
}

.divIndex:hover {
	border: 1px solid black;
}

.titulo {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-bottom: 20px;
	color: white;
}

.subTitulo {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 15px;
	color: black;
}

.contenedorLogos {
	display: grid;
	grid-template-columns: repeat(6, 100px);
	justify-content: center;
	min-height: 27.1vh;
}

@media screen and (max-width: 1000px) {
	.container-fluid {
		padding: 0px;
	}
	.contenedor {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	.contenedor .divIndex {
		display: flex;
		justify-content: center;
		min-height: 420px;
		max-height: 420px;
	}
	.contenedor .divIndex img {
		height: auto;
		width: 100%;
	}
	.contenedor .divIndex p {
		text-align: center;
	}
	.contenedorLogos {
		display: grid;
		grid-template-columns: repeat(2, 100px);
		justify-content: center;
		-moz-column-gap: 5px;
		column-gap: 5px;
		row-gap: 5px;
		align-items: center;
	}
}
@media screen and (max-width: 220px) {
	.contenedorLogos {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 425px) {
	.contenedor {
		display: flex;
		flex-direction: column;
	}
}
.tituloNinos {
	color: white;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.subTituloNinos {
	padding-left: 10px;
	font-size: 30px;
}

.contenedorNinos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
	margin: 0;
	padding: 0;
	align-items: center;
}
.contenedorNinos .divNinos {
	width: 70%;
	display: flex;
	flex-direction: column;
	min-height: 320px;
	max-height: 320px;
}
.contenedorNinos .divNinos img {
	height: auto;
	width: 100%;
}
.contenedorNinos .textoNinos {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
.contenedorNinos .textoNinos p {
	font-size: 13px;
	margin: 0;
}

.divNinos:hover {
	border: 1px solid black;
}

@media screen and (max-width: 1000px) {
	.contenedorNinos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	.contenedorNinos .divNinos {
		justify-content: center;
		min-height: 420px;
		max-height: 420px;
	}
	.contenedorNinos .divNinos img {
		height: auto;
		width: 100%;
	}
	.contenedorNinos .divNinos p {
		text-align: center;
	}
}
@media screen and (max-width: 425px) {
	.contenedorNinos {
		display: flex;
		flex-direction: column;
	}
}
.divMaps {
	display: flex;
	justify-content: center;
	min-height: 68.8vh;
}

.maps {
	width: 95%;
}

.fondo {
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 600px;
	background-image: url(https://www.fororegonstate.org/images/default-source/1.0-get-involved/events/adidas-shopping-pass/1920x600_bannerimage_adidas_spring2022.jpg?sfvrsn=7ac7fe44_3);
}

.tituloMujer {
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
} /*# sourceMappingURL=stylesheet.css.map */
